<div style="margin-left: 10%; width: 60%;">
    <div class="ui horizontal segments">
        <div class="ui segment">
            <img class="ui small image" src="/assets/images/chef_hat.png">
        </div>
        <div class="ui segment">
            <h2>Welcome chef!</h2>
        </div>
    </div>
</div>

<div class="ui piled segments" style="margin-left: 10%; width: 50%">
    <div class="ui segment">
        <i class="pencil alternate icon"></i>
        <a href="/create"> Creat your recipe</a>
    </div>
    <div class="ui segment">
        <i class="folder open icon"></i>
        <a href="/create">all your recipes </a>
    </div>
    <div class="ui segment">
        <i class="star icon"></i>

        <a href="/create">follow</a>
    </div>
    <div class="ui segment">
        <i class="heart icon"></i>
        <a href="/create">subscribe</a>
    </div>
</div>
