<div class="ui segment" style="margin-left: 10%; width: 80%">
    <div style="margin-left: 15px; ">
        <h2>{{list.recipeName}}</h2>
    </div>
    <div class="ui horizontal segments" style="width: 70%">
        <div class="ui segment" >
            <img class="ui large rounded image" src={{list.image}}>
        </div>
        <div class="ui segment" style="width: 30%">
            <h4 class="ui teal header">created by {{list.userId}}</h4>
            <h4>Publish time:</h4>
            <p>{{list.publishTime}}</p>
            <h4>Description:</h4>
            <p>{{list.description}}</p>
            <button (click)="onClick()" type="submit" class="ui animated teal button" tabindex="0">
                <div class="hidden content">subscribe</div>
                <div class="visible content" >
                    <i class="star icon" ></i>
                </div>
            </button>
            <button (click)="onClick()" type="submit" class="ui animated teal button" tabindex="0">
                <div class="hidden content">follow</div>
                <div class="visible content" >
                    <i class="heart icon" ></i>
                </div>
            </button>
        </div>
    </div>

    <div style="margin-left: 15px; ">
        <h2>INGREDIENTS</h2>
    </div>
    <div class="ui horizontal segments">
        <div class="ui two segments" style="width: 60%" >
            <div class="ui segment" *ngFor="let recipient of list.ingredient | keyvalue">
                <p>{{recipient.key}} : {{recipient.value}}</p>
            </div>

        </div>
    </div>

    <div style="margin-left: 15px; ">
        <h2>STEPS</h2>
    </div>


    <div class="ui vertical segment">
        <p></p>
    </div>
    <div class="ui vertical segment">
        <p></p>
    </div>
    <div class="ui vertical segment">
        <p></p>
    </div>
</div>


<!--<div>-->
<!--<ul>-->
<!--<li *ngFor="let recipient of list.ingredient | keyvalue">-->
<!--{{recipient.key}} : {{recipient.value}}-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
